<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>About</title>
</head>
<h1>About</h1>
<body>
  <p>EldenRingInsider is a fan-made resource for the game Elden Ring, created to help players find information about items, weapons, and to recommend builds all in one place.</p>
  <p>As this is a project, the site is a work in progress and may not be fully optimized or contain all planned features.</p>
 <a href="javascript:history.back()">Go Back</a>
</body>
</html>