
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builds - Elden Ring Insider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">



</head>
<body>

 <h1>Build Guides</h1>
    <p>Here you'll find optimized builds for various playstyles.</p>

    <ul>
        <li><a href="#">Vigor Build</a></li>
        <li><a href="#">Intelligence Build</a></li>
        <li><a href="#">Endurance Build</a></li>
        <li><a href="#">Dexterity Build</a></li>
        <li><a href="#">Strength Build</a></li>
        <li><a href="#">Faith Build</a></li>
        <li><a href="#">Arcane Build</a></li>
    </ul>

</body>
</html>