<!-- EldenRingInsider/templates/builds.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builds - Elden Ring Insider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<!-- Navigation Bar -->
<nav class="navbar">
    <div class="logo">EldenRingInsider</div>
    <ul class="nav-links">
        <li><a href="{% url 'item_list' %}">Home</a></li>
        <li><a href="#">Katanas</a></li>
        <li><a href="#">Swords</a></li>
        <li><a href="#">Staffs</a></li>
        <li><a href="#">Ash of Wars</a></li>
        <li><a href="#">Spells</a></li>
        <li><a href="{% url 'builds' %}">Builds</a></li>


    </ul>
    <!--<input type="text" placeholder="Search builds..." class="search-bar"> -->
      <form method="get" action="{% url 'builds' %}">
    <input
        type="text"
        name="q"
        placeholder="Search builds..."
        class="search-bar"
        value="{{ query|default:'' }}"
    >
    <button type="submit" style="display:none;">Search</button>
</form>
</nav>







<body>

 <h1>Build Guides</h1>
    <p style="text-align: center;">Optimised setups based on real game meta and stat scaling.</p>

 {% if builds %}
    {% for build in builds %}
        <div class="build-card">
            <h2>{{ build.name }}</h2>
            <p>{{ build.description }}</p>

            <div class="item-container">
                {% for slot in build.equipment_slots.all %}
                    <div class="card">
                        <strong>{{ slot.get_slot_name_display }}</strong><br>
                        {% if slot.item %}
                            <div class="tooltip">
                                    <a href="{% url 'item_detail' slot.item.id %}">
                                        <img
                                            src="{{ slot.item.image_url }}"
                                            alt="{{ slot.item.name }}"
                                            class="item-img cursor-pointer"
                                        />
                                    </a>
                                    <span class="tooltiptext">
                                        <strong>{{ slot.item.name }}</strong><br>
                                        {{ slot.item.description|truncatechars:60 }}
                                    </span>
                                </div>

                            <p>{{ slot.item.name }}</p>
                        {% else %}
                            <p>Empty Slot</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p style="text-align:center;">No builds found.</p>
{% endif %}







</body>
</html>