
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Image Credits</title>
</head>
<body>
    <h1>Image Credits</h1>
    <p>All in-game images and assets are property of FromSoftware Inc.</p>
    <p>I would also like to thank the following websites for providing the images used in this application:</p>
    <ul>
        <li><a href="https://eldenring.wiki.fextralife.com/Elden+Ring+Wiki">EldenRing Wiki.Fextralife</a></li>
        <li><a href="https://eldenring.fandom.com/wiki/Elden_Ring_Wiki">EldenRing Fandom</a></li>
        <li><a href="https://www.lolga.com/elden-ring-items">EldenRing Lolga</a></li>
    </ul>
    <a href="javascript:history.back()">Go Back</a>
</body>
</html>