<!-- EldenRingInsider/templates/item_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EldenRingInsider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">



</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <div class="logo">EldenRingInsider</div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Katanas</a></li>
        <li><a href="#">Swords</a></li>
        <li><a href="#">Staffs</a></li>
        <li><a href="#">Ash of Wars</a></li>
        <li><a href="#">Spells</a></li>
        <li><a href="{% url 'builds_list' %}">Builds</a></li>

    </ul>
    <!--<input type="text" placeholder="Search items..." class="search-bar"> -->
      <form method="get" action="{% url 'item_list' %}">
        <input
            type="text"
            name="q"
            placeholder="Search items..."
            class="search-bar"
            value="{{ query|default:'' }}"
        >
        <button type="submit" style="display:none;">Search</button>
    </form>
</nav>

<!-- Hero Section -->
<section class="hero">
    <h1>Welcome to EldenRingInsider</h1>
    <p>Your ultimate resource for Elden Ring weapons, spells, and more.</p>
    <button class="cta">Explore Items</button>
</section>

<!-- Item Container -->
<div class="item-container">
    {% for item_type, items in grouped_items.items %}
        <h2>{{ item_type|title }}</h2>
        <div class="item-type-container">
            {% for item in items %}
                <div class="card">
                    <h3>{{ item.name }}</h3>
                    <img src="{{ item.image_url }}">
                    <!-- Description Removed -->
                    <a href="{% url 'item_detail' item.id %}" class="btn">View Details</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

</body>
</html>


















